body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    background-color: #0c0f15;
    overflow-x: hidden;
    color: white;
}

.heading-page {
    text-transform: uppercase;
    font-size: 43px;
    font-weight: bolder;
    letter-spacing: 3px;
    color: white;
}

a {
    color: inherit;
    transition: all 0.3s ease;
}

a:hover,
a:focus {
    color: #ababab;
    text-decoration: none;
    outline: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: Montserrat, sans-serif;
    margin: 0;
    line-height: 1.3;
    text-align: center;
}

p { 
    margin-bottom: 5px;
}

p:last-child { margin-bottom: 0; }

.btn { transition: all 0.3s ease; }
.btn:hover,
.btn:focus,
.btn:active:focus { outline: 0; }

.btn-primary {
    background-color: dodgerblue;
    border: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    height: 48px;
    line-height: 50px;
    padding: 0 42px;
    text-transform: uppercase;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
    background-color: dodgerblue;
}

.btn-border {
    border: 1px solid #d7d8db;
    display: inline-block;
    padding: 7px;
}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}
.clear:after { clear: both; }

.primary,
.link:hover { color: dodgerblue; }

.flex { display: flex; }
.flex-middle { align-items: center; }
.space-between { justify-content: space-between; }

.preloader {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    display: flex;
}

.preloader.active.hidden { display: none; }

.loading-mask:nth-child(2) { left: 20%; transition-delay: 0.1s; }
.loading-mask:nth-child(3) { left: 40%; transition-delay: 0.2s; }
.loading-mask:nth-child(4) { left: 60%; transition-delay: 0.3s; }
.loading-mask:nth-child(5) { left: 80%; transition-delay: 0.4s; }

.preloader.active.done { z-index: 0; }
.preloader.active .loading-mask { width: 0; }

.page-close {
    font-size: 30px;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 100;
}

.page-title {
    margin-bottom: 75px;
    text-align: center;
}

.page-title img { margin-bottom: 20px; }

.page-title h2 {
    font-size: 68px;
    margin-bottom: 25px;
    position: relative;
    z-index: 0;
    font-weight: 900;
    text-transform: uppercase;
}

.page-title p {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    line-height: 21px;
}

.page-title .title-bg {
    color: white;
    font-size: 158px;
    left: 0;
    letter-spacing: 10px;
    line-height: 0.7;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
}

.hexagon-item {
    margin-bottom: 20px;
    cursor: pointer;
    width: 100px;
    height: 86.6px;
    float: left;
    /* margin-left: -14.5px; */
    z-index: 0;
    position: relative;
    transform: rotate(30deg);
}

.hexagon-item:first-child { margin-left: 0; }

.hexagon-item:hover { z-index: 1; }

.hexagon-item:hover .hex-item:last-child {
    opacity: 1;
    transform: scale(1.3);
}

.hexagon-item:hover .hex-item:first-child {
    opacity: 1;
    transform: scale(1.2);
}

.hexagon-item:hover .hex-item:first-child div:before,
.hexagon-item:hover .hex-item:first-child div:after { height: 2.5px; }

.hexagon-item:hover .hex-item div::before,
.hexagon-item:hover .hex-item div::after { background-color: dodgerblue; }

.hexagon-item:hover .hex-content svg {
    transform: scale(0.485);
}

.page-home .hexagon-item:nth-last-child(1),
.page-home .hexagon-item:nth-last-child(2),
.page-home .hexagon-item:nth-last-child(3) {
    transform: rotate(30deg) translate(43.5px, -40px);
}

.hex-item {
    position: absolute;
    top: 0;
    left: 25px;
    width: 50px;
    height: 86.6px;
}

.hex-item div {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 50px;
    height: 86.6px;
    transform-origin: center center;
}

.hex-item div::before,
.hex-item div::after {
    background-color: dodgerblue;
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px; /* 3 → 1.5 */
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hex-item div:before { top: 0; }
.hex-item div:after { bottom: 0; }

.hex-item div:nth-child(1) { transform: rotate(0deg); }
.hex-item div:nth-child(2) { transform: rotate(60deg); }
.hex-item div:nth-child(3) { transform: rotate(120deg); }

.hex-content {
    color: #fff;
    display: block;
    height: 90px; /* 180 → 90 */
    margin: 0 auto;
    position: relative;
    text-align: center;
    transform: rotate(-30deg);
    width: 78px; /* 156 → 78 */
}

.hex-content .hex-content-inner {
    left: 50%;
    margin: -3px 0 0 1px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hex-content .icon {
    display: block;
    font-size: 18px; /* 36 → 18 */
    line-height: 15px;
    margin-bottom: 6px;
}

.hex-content .title {
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 8px;
    text-transform: uppercase;
}

.hex-content svg {
    left: -3.5px;
    top: -6.5px;
    transform: scale(0.435);
    position: absolute;
    z-index: -1;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hex-content:hover { color: #FFCB05; }

/* ------------------------------------------------
   Animations
------------------------------------------------ */

@keyframes focus-in-contract {
    0% { letter-spacing: 1em; filter: blur(12px); opacity: 0; }
    100% { filter: blur(0); opacity: 1; }
}

/* ------------------------------------------------
   Responsive
------------------------------------------------ */

@media only screen and (max-width: 415px) {
    .hexagon-item {
        margin: 0 auto 10px auto;
        margin-bottom: 20px;
    }

    .hexagon-item:first-child { margin-left: auto; }

    .page-home .hexagon-item:nth-last-child(1),
    .page-home .hexagon-item:nth-last-child(2),
    .page-home .hexagon-item:nth-last-child(3) {
        transform: rotate(30deg) translate(0, 0);
    }
}
