body {
    position: relative;
    padding-top: 25px;
    min-height: 100vh;
    color: #eeeeee;
    font-family: Montserrat, sans-serif;
    background-color: #222222;
    overflow-x: hidden
}

html {
    box-sizing: border-box;
    font-size: 100%;
    scroll-behavior: smooth;
}

.skip {
    position: absolute;
    top: -250px;
    left: 0;
    background: white;
    color: black;
    padding: 10px;
}

.skip:focus {
    top: 250px;
}

.navbar {
    padding-top: 25px;
    background-color: #222222;
    border-bottom: 1px solid #FFCB05;
    overflow: hidden;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    left: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    height: 210px;
}

.main {
    margin-top: 400px;
    /* Add a top margin to avoid content overlay */
}

.container {
    align-self: center;
    justify-self: center;
    top: 0;
}

.buffer {
    padding-top: 260px;
}

.grid-content {
    /* General Style */
    padding: 10px;
    width: 70%;
    text-align: center;
    font-size: 18px;
    border: 2px solid #2F65A7;
    border-radius: 7px;

    /* Grid Stuff */
    display: grid;
    margin-bottom: 300px;
    align-self: center;
    justify-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
}

.grid-content>div {
    background-color: #282828;
    text-align: center;
    padding: 5px;
    border: 0px solid white;
}

.grid-content img {
    width: 150px;
    height: 150px;
}

.projects { 
    font-weight: bold;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0px 10px 0px;
    font-size: 40px;
    font-weight: bold;
}

h2 {
    text-align: center;
    margin: 10px 0px 10px 0px;
    font-size: 30px;
    font-weight: bold;
}

.portfolio {
    display: fixed;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    justify-content: space-evenly;
    height: 150px;
    width: 150px;
    margin: 10px;
    border: double 3px transparent;
    border-image-slice: 1;
    border-width: 2px;
    background-image: linear-gradient(#282828, #282828), radial-gradient(circle at top left, #2F65A7, #FFCB05);
    border-radius: 7px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    overflow: hidden;
}

.a1 {
    /* Span the entire row  */
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
}

.a2 {
    /* Span the entire row  */
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
}

.a3 {
    /* Span the entire row  */
    grid-row: 3 / span 1;
    grid-column: 1 / span 3;
}

.b1 {
    /* Span the entire row  */
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
}

.b2 {
    /* Span the entire row  */
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
}

.b3 {
    /* Span the entire row  */
    grid-row: 3 / span 1;
    grid-column: 1 / span 3;
}

.c1 {
    /* Span the entire row  */
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
}

.c2 {
    /* Span the entire row  */
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
}

.c3 {
    /* Span the entire row  */
    grid-row: 3 / span 1;
    grid-column: 1 / span 3;
}

.c4 {
    /* Span the entire row  */
    grid-row: 4 / span 1;
    grid-column: 1 / span 3;
}

.c5 {
    /* Span the entire row  */
    grid-row: 5 / span 1;
    grid-column: 1 / span 3;
}

.c6 {
    /* Span the entire row  */
    grid-row: 6 / span 1;
    grid-column: 1 / span 3;
}

.c7 {
    /* Span the entire row  */
    grid-row: 7 / span 1;
    grid-column: 1 / span 3;
}

.c8 {
    /* Span the entire row  */
    grid-row: 8 / span 1;
    grid-column: 1 / span 3;
}

.c9 {
    /* Span the entire row  */
    grid-row: 9 / span 1;
    grid-column: 1 / span 3;
}

.c10 {
    /* Span the entire row  */
    grid-row: 10 / span 1;
    grid-column: 1 / span 3;
}

.d1 {
    /* Span the entire row  */
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
}

.d2 {
    /* Span the entire row  */
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
}

.d3 {
    /* Span the entire row  */
    grid-row: 3 / span 1;
    grid-column: 1 / span 3;
}

footer {
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 100px;
    height: 200px;
}


@media (min-width: 815px) {
    .navbar {
        padding-top: 25px;
        background-color: #282828;
        border-bottom: 1px solid #FFCB05;
        overflow: hidden;
        position: fixed;
        /* Set the navbar to fixed position */
        top: 0;
        left: 0;
        /* Position the navbar at the top of the page */
        width: 100%;
        /* Full width */
        height: 210px;
    }

    .a1 {
        /* Span the entire row  */
        grid-row: 1 / span 1;
        grid-column: 1 / span 3;
    }

    .a2 {
        /* Span the entire row  */
        grid-row: 2 / span 1;
        grid-column: 1 / span 3;
    }

    .a3 {
        /* Span the entire row  */
        grid-row: 3 / span 1;
        grid-column: 1 / span 3;
    }

    .b1 {
        /* Span the entire row  */
        grid-row: 1 / span 1;
        grid-column: 1 / span 3;
    }

    .b2 {
        /* Span two columns wide  */
        grid-row: 2 / span 1;
        grid-column: 1 / span 2;
    }

    .b3 {
        grid-row: 2 / span 1;
        grid-column: 3 / span 1;
    }

    .c1 {
        /* Span the entire row  */
        grid-row: 1 / span -1;
        grid-column: 1 / span 3;
    }

    .c2 {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }

    .c3 {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
    }

    .c4 {
        grid-row: 2 / span 1;
        grid-column: 3 / span 1;
    }

    .c5 {
        grid-row: 3 / span 1;
        grid-column: 1 / span 1;
    }

    .c6 {
        grid-row: 3 / span 1;
        grid-column: 2 / span 1;
    }

    .c7 {
        grid-row: 3 / span 1;
        grid-column: 3 / span 1;
    }

    .c8 {
        grid-row: 4 / span 1;
        grid-column: 1 / span 1;
    }

    .c9 {
        grid-row: 4 / span 1;
        grid-column: 2 / span 1;
    }

    .c10 {
        grid-row: 4 / span 1;
        grid-column: 3 / span 1;
    }

    .d1 {
        /* Span the entire row  */
        grid-row: 1 / span -1;
        grid-column: 1 / span 3;
    }

    .d2 {
        /* Span the entire row  */
        grid-row: 2 / span 1;
        grid-column: 1 / span 3;
    }

    .d3 {
        /* Span the entire row  */
        grid-row: 3 / span 1;
        grid-column: 1 / span 3;
    }

}

@media (min-width: 415px) {
    .navbar {
        padding-top: 25px;
        background-color: #282828;
        border-bottom: 1px solid #FFCB05;
        overflow: hidden;
        position: fixed;
        /* Set the navbar to fixed position */
        top: 0;
        left: 0;
        /* Position the navbar at the top of the page */
        width: 100%;
        /* Full width */
        height: 110px;
    }

    .buffer {
        padding-top: 160px;
    }
}